@model SparkServer.ViewModels.ArticleViewModel

@{
    ViewBag.Title = Model.ArticleTitle;
}

<article>

    <ul class="about cf" style="display: none;">
        <!-- TODO: URL for Category sort -->
        <li><a href="#">@Model.CategoryName</a></li>
        <li>@Model.PublishDateLong</li>
        <li>Sitecore @Model.SitecoreVersionShort</li>
    </ul>

    <div class="cf">

        <h1>@ViewBag.Title</h1>

        @Html.Raw(Model.Body)

    </div>

    @if (Model.RelatedLinks.Count > 0)
    {
        <footer class="cf">
            @if (Model.RelatedLinks.Count > 0)
            {
                <div class="related">
                    <h2>Related Links</h2>

                    <ul>
                        @foreach (var related in Model.RelatedLinks)
                        {
                            <li><a href="@related.HREF" target="_blank">@related.Title</a></li>
                        }
                    </ul>
                </div>
            }
        </footer>
    }

</article>

@section PageScripts {

    <script src="~/Scripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

}