@model SparkServer.ViewModels.ArticleViewModel

@{
    ViewBag.Title = Model.ArticleTitle;
}

<article>

    <ul class="about cf">
        <!-- TODO: URL for Category sort -->
        <li><a href="#">@Model.CategoryName</a></li>
        <li>@Model.PublishDateLong</li>
        <li>Sitecore @Model.SitecoreVersionShort</li>
    </ul>

    <div class="cf">

        <h1>@ViewBag.Title</h1>

        @Html.Raw(Model.Body)

    </div>

    <footer class="cf">
        <h1>Notes</h1>

        <div class="articles">
            <h2>Related Articles</h2>

            <ul>
                <li><a href="#">Related Article Alpha</a></li>
                <li><a href="#">Related Article Beta</a></li>
                <li><a href="#">Related Article Alpha</a></li>
                <li><a href="#">Related Article Beta</a></li>
                <li><a href="#">Related Article Alpha</a></li>
                <li><a href="#">Related Article Beta</a></li>
            </ul>
        </div>

        <div class="notes">
            <h2>Links</h2>

            <ul>
                <li><a href="#">asdfasfsdf</a></li>
                <li><a href="#">asdfasfsdf</a></li>
            </ul>
        </div>
    </footer>

</article>
