@model SparkServer.ViewModels.BlogEditViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Blog Edit";
}

<h1>@ViewBag.Title</h1>

@if (Model.Mode == SparkServer.Application.Enum.EditMode.Edit)
{
    <h2>ID: @Model.ID</h2>

    <a href="/Admin/BlogDelete?ID=@Model.ID" class="btn delete">Delete</a>
}

@using (Html.BeginForm(actionName: "BlogUpdate", controllerName: "Admin", method: FormMethod.Post))
{
    if (Model.Mode == SparkServer.Application.Enum.EditMode.Edit)
    {
        @Html.HiddenFor(x => x.ID)
    }

    @Html.HiddenFor(x => x.Mode)

    <div class="row">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title)
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    <div class="row">
        @Html.LabelFor(x => x.Subtitle)
        @Html.TextBoxFor(x => x.Subtitle)
        @Html.ValidationMessageFor(x => x.Subtitle)
    </div>

    <div class="row">
        @Html.LabelFor(x => x.Body)
        @Html.TextAreaFor(x => x.Body, htmlAttributes: new { style = "height: 400px" })
        @Html.ValidationMessageFor(x => x.Body)
    </div>

    <div class="row">
        @Html.LabelFor(x => x.PublishDate)
        @Html.TextBoxFor(x => x.PublishDate, htmlAttributes: new { @class = "half" })
        <input type="button" value="Today" id="DateTimeToday" class="btn" />
        @Html.ValidationMessageFor(x => x.PublishDate)
    </div>

    <div class="row">
        @Html.LabelFor(x => x.AuthorID)
        @Html.DropDownListFor(x => x.AuthorID, Model.AuthorSource, htmlAttributes: new { @class = "half" })
        @Html.ValidationMessageFor(x => x.AuthorID)
    </div>

    <div class="row">
        @Html.LabelFor(x => x.UniqueURL)
        @Html.TextBoxFor(x => x.UniqueURL, htmlAttributes: new { @class = "half" })
        <input type="button" value="Create From Title" id="CreateUniqueURL" class="btn" />
        @Html.ValidationMessageFor(x => x.UniqueURL)
    </div>

    <div class="row">
        @Html.LabelFor(x => x.ImageThumbnailPath)
        @Html.TextBoxFor(x => x.ImageThumbnailPath)
        @Html.ValidationMessageFor(x => x.ImageThumbnailPath)
    </div>

    <div class="row">
        <p class="mono inline-code">/media/blog/icons/XXXXXX.png</p>
    </div>

    <div class="row">
        @Html.LabelFor(x => x.ImagePath)
        @Html.TextBoxFor(x => x.ImagePath)
        @Html.ValidationMessageFor(x => x.ImagePath)
    </div>

    <div class="row">
        <p class="mono inline-code">/media/blog/201706/22_XXXXX.png</p>
    </div>

    <div class="row">
        @Html.LabelFor(x => x.BlogTags)
        @Html.ListBoxFor(x => x.BlogTags, Model.BlogTagSource, htmlAttributes: new { @class = "half", style = "height: 150px;" })
    </div>

    <div class="row">
        <input type="submit" value="Submit" class="btn primary" />

        @if (Model.ID > 0)
        {
            <text>&nbsp;&nbsp;</text><a href="@Model.BlogURL?preview=true" target="_blank" class="btn">Preview</a>
        }
    </div>

}
