@model SparkServer.ViewModels.BlogArticleViewModel

@{
    ViewBag.Title = Model.Title;
}

<article class="blog">

    @if (!String.IsNullOrEmpty(Model.ImagePath))
    {
        <!-- TODO: Image as background with text over it -->
        <div class="blog-header" style="background-image: url('@Model.ImagePath');">
            <h1>@ViewBag.Title</h1>
        </div>
    }
    else
    {
        <h1 class="blog-header-title-only">@ViewBag.Title</h1>
    }

    <h1 class="blog-title-only">@ViewBag.Title</h1>

    <div class="blog-about">
        <div class="label">Author</div>
        <p>@Model.AuthorFullName</p>

        <div class="label">Published</div>
        <p>@Model.PublishDate.ToShortDateString()</p>

        @if (Model.BlogTags.Count > 0)
        {
            <div class="label">Tags</div>
            <ul class="tags cf">
                @foreach (var tag in Model.BlogTags)
                {
                    <li><a href="/blog/tag/@tag.BlogTagName">@tag.BlogTagName</a></li>
                }
            </ul>
        }
    </div>

    @Html.Raw(Model.Body)

</article>
