@model SparkServer.ViewModels.BlogArticleViewModel

@{
    ViewBag.Title = Model.Title;
}

<article class="blog">

    <h1>@ViewBag.Title</h1>

    <div class="blog-about">
        <div class="label">Author</div>
        <p>@Model.AuthorFullName</p>

        <div class="label">Published</div>
        <p>@Model.PublishDate.ToShortDateString()</p>

        @if (Model.BlogTags.Count > 0)
        {
            <div class="label">Tags</div>
            <ul class="tags cf">
                @foreach (var tag in Model.BlogTags)
                {
                    <li><a href="http://www.google.com">@tag.BlogTagName</a></li>
                }
            </ul>
        }
    </div>

    @if (!String.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="@Model.ImagePath" alt="@Model.Title" />
    }

    @Html.Raw(Model.Body)

</article>
