@model SparkServer.ViewModels.BlogListViewModel

@{
    ViewBag.Title = Model.Header;
}

<div class="gutter">&nbsp;</div>
    
<div class="section">

    <h1>Explore Tags</h1>

    @if (Model.BlogTagList.Count > 0)
    {
        <ul class="explore-tags">

            @foreach (var tag in Model.BlogTagList)
            {
                <li><a href="/blog/tag/@tag.BlogTagName">@tag.BlogTagName</a></li>
            }

        </ul>
    }

</div>

<div class="section">

    <h1>@ViewBag.Title</h1>

    <ul class="blog-list">

        @for (var i = 0; i < Model.BlogList.Count; i++)
        {
            <li class="cf">
                @if (!String.IsNullOrEmpty(Model.BlogList[i].ImageThumbnailPath))
                {
                    <a href="@Model.BlogList[i].URL"><img src="@Model.BlogList[i].ImageThumbnailPath" alt="@Model.BlogList[i].Title" /></a>
                }
                <h3><a href="@Model.BlogList[i].URL">@Model.BlogList[i].Title</a></h3>
                <p>@Model.BlogList[i].Subtitle</p>
                <div class="date">@Model.BlogList[i].PublishDate.ToShortDateString() - @Model.BlogList[i].AuthorFullName</div>
            </li>
        }
    </ul>

    @Html.Partial("_Paging", Model.Paging)

</div>