@model SparkServer.ViewModels.BlogListViewModel

@{
    ViewBag.Title = Model.Header;
}

<div class="gutter">&nbsp;</div>
    
<div class="section">

    <h1>Explore Tags</h1>

    @if (Model.BlogTagList.Count > 0)
    {
        <ul class="explore-tags">

            @foreach (var tag in Model.BlogTagList)
            {
                <li><a href="/blog/tag/@tag.BlogTagName">@tag.BlogTagName</a></li>
            }

        </ul>
    }

</div>

<div class="section">

    <h1>@ViewBag.Title</h1>

    <ul class="blog-list">

        @for (var i = 0; i < Model.BlogList.Count; i++)
        {
            <li class="cf">

                @if (!String.IsNullOrEmpty(Model.BlogList[i].ImagePath))
                {
                    <div class="blog-list-header" style="background-image: url('@Model.BlogList[i].ImagePath');"></div>
                }
                else
                {
                    <div class="blog-list-header" style="background-image: url('/Content/Images/default_blog_bg.jpg');"></div>
                }

                <div class="blog-list-intro">
                    <h3><a href="@Model.BlogList[i].URL">@Model.BlogList[i].Title</a></h3>
                    <div class="subtitle">@Model.BlogList[i].Subtitle</div>
                    <div class="date">@Model.BlogList[i].PublishDate.ToString("dd MMM yyyy") - <span style="font-style: italic;">@Model.BlogList[i].AuthorFullName</span></div>
                </div>

            </li>
        }
    </ul>

    @Html.Partial("_Paging", Model.Paging)

</div>