@model SparkServer.ViewModels.BlogListViewModel

@{
    ViewBag.Title = Model.Header;
}

<h1>@ViewBag.Title</h1>

<ul class="blog-list">

    @for (var i = 0; i < Model.BlogList.Count; i++)
    {
        <li class="cf">
            <a href="@Model.BlogList[i].URL"><img src="image/dummy_thumb.png" /></a>
            <h3><a href="@Model.BlogList[i].URL">@Model.BlogList[i].Title</a></h3>
            <p>@Model.BlogList[i].Subtitle</p>
            <div class="date">@Model.BlogList[i].PublishDate.ToShortDateString() - @Model.BlogList[i].AuthorFullName</div>
        </li>
    }

</ul>

<hr />

<h1>Explore Tags</h1>

<!-- TODO: output tags-->
<p class="explore-tags">
    <a href="#">Alpha</a> &middot;
    <a href="#">Beta</a> &middot;
    <a href="#">Carrot</a> &middot;
    <a href="#">Missy Must Go</a> &middot;
    <a href="#">Not At All</a> &middot;
    <a href="#">Licensing</a>
</p>

<hr />