@model SparkServer.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Welcome to Sitecore Spark!";
}

<div class="section welcome-banner">

    <h1>Practical Sitecore by Example</h1>
    <h2>Succinct articles. Core concepts. Sitecore simplified.</h2>

</div>

<div class="gutter">&nbsp;</div>

<div class="section">

    <h1>Latest Blog Posts</h1>

    <ul class="grid two-up cf blog-list">

        @foreach (var blog in Model.BlogList)
        {
            <li class="cf">

                @if (!String.IsNullOrEmpty(blog.ImageThumbnailPath))
                {
                    <a href="@blog.URL"><img src="@blog.ImageThumbnailPath" /></a>
                }

                <h3><a href="@blog.URL">@blog.Title</a></h3>
                <p>@blog.Subtitle</p>
                <div class="date">@blog.PublishDate.ToShortDateString() - @blog.AuthorFullName</div>
            </li>
        }

    </ul>

</div>

<div class="section">

    <h1>Latest Articles</h1>

    <ul class="grid two-up cf blog-list articles">

        @foreach (var article in Model.ArticleList)
        {
            <li class="cf">
                <h3><a href="@article.URL">@article.ArticleTitle</a></h3>
                @if (!String.IsNullOrEmpty(article.ArticleSubtitle))
                { <div class="subtitle">@article.ArticleSubtitle</div> }
                <div class="date">Sitecore @article.SitecoreVersionShort</div>
            </li>
        }

    </ul>

</div>

<div class="section">

    <h1>Start With a Spark</h1>

    <h2>Blog</h2>
    <p><a href="/blog">Check out the blog</a> for tips, news, insights, and the latest updates on Sitecore Spark.</p>

    <h2>Articles</h2>
    <p>Sitecore Spark aims to teach Sitecore concepts through short articles and practical examples.</p>
    <p>Some articles extend the official Sitecore documentation. Others cover real-world examples of how to implement Sitecore features. All articles cover the basics of Sitecore - great for developers new to the platform.</p>

    <h2>Video Walkthroughs</h2>
    <p><a href="https://www.youtube.com/channel/UCrv7Ux-1OIM31ZMaIrp2Nog" target="_blank">The Sitecore Spark YouTube Channel</a></p>
    <p>Short videos (2 to 5 minutes) will cover important Sitecore concepts and demonstrate features in action.</p>

    <h2>Community Contributions</h2>
    <p>Sitecore Spark is accepting contributions from the community for articles, blogs, and video presentations. If you'd like to write for Spark and reach the larger Sitecore community, please <a href="/about">contact me to get started</a>.</p>

</div>