@model SparkServer.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Welcome to Sitecore Spark!";
}

<div class="welcome-banner">
    <h1>Welcome to Sitecore Spark!</h1>
    <h2>Succinct articles. Core concepts. A visual tour.</h2>
    <h2>Sitecore 101 for .NET developers.</h2>
</div>

<hr />

<h1>Latest Blog Posts</h1>

<ul class="grid two-up cf blog-list">

    @foreach (var blog in Model.BlogList)
    {
        <li class="cf">

            @if (!String.IsNullOrEmpty(blog.ImageThumbnailPath))
            {
                <a href="@blog.URL"><img src="@blog.ImageThumbnailPath" /></a>
            }

            <h3><a href="@blog.URL">@blog.Title</a></h3>
            <p>@blog.Subtitle</p>
            <div class="date">@blog.PublishDate.ToShortDateString() - @blog.AuthorFullName</div>
        </li>
    }

</ul>

<hr />

<h1>Latest Articles</h1>

<ul class="grid two-up cf blog-list articles">

    @foreach (var article in Model.ArticleList)
    {
        <li class="cf">
            <h3><a href="@article.URL">@article.ArticleTitle</a></h3>
            @if (!String.IsNullOrEmpty(article.ArticleSubtitle)) { <div class="subtitle">@article.ArticleSubtitle</div> }
            <div class="date">Sitecore @article.SitecoreVersionShort</div>
        </li>
    }

</ul>

<hr />

<h1>Start With a Spark</h1>

<h2>Blog</h2>
<p><a href="/blog">Check out the blog</a> for the latest updates on Sitecore Spark, tips, news, and recent learnings.</p>

<h2>Articles</h2>
<p>Sitecore Spark aims to be a comprehensive introduction to developing for the Sitecore 8 platform.</p>
<p>Sitecore concepts are be broken down into short, simple articles that are designed to be consumable in minutes and useful for developers of all levels. Sitecore Spark can be used as training material for new developers or quick reference for seasoned veterans.</p>

<h2>Mentoring</h2>
<p>If you're interested in 1-on-1 mentoring or introductory consulting for Sitecore, <a href="/about">contact me to get started</a>.</p>

<h2>Video Walkthroughs</h2>
<p>Articles and pictures are great, but key articles will also have 2 to 5 minute video walkthroughs of important Sitecore concepts. Coming soon.</p>

<h2>Community Contributions</h2>
<p>Beginning in December 2017, Sitecore Spark will be accepting contributions from the community for articles, blogs, and video presentations.</p>