@model SparkServer.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Welcome!";
}

<!--
<div class="section welcome-banner">

    <h1>Practical Sitecore by Example</h1>
    <h2>Succinct articles. Core concepts. Sitecore simplified.</h2>

</div>
-->

@if (Model.BlogList.Count > 0)
{
    string styleAttribute = string.Empty;

    <div class="section" style="margin-bottom: 0;">
        @if (!String.IsNullOrEmpty(Model.BlogList[0].ImagePath))
        {
            styleAttribute = string.Format("background-image: url('{0}'); background-size: cover;", Model.BlogList[0].ImagePath);
        }
        else
        {
            styleAttribute = "background-image: url('/Content/Images/default_blog_bg.jpg'); background-size: cover;";
        }
        <a href="@Model.BlogList[0].URL" style="display: block;">
            <div class="section welcome-banner" style="@styleAttribute margin-bottom: 0;">
                <div class="header">Latest Blog Post</div>
                <h1>@Model.BlogList[0].Title</h1>
                <h2>@Model.BlogList[0].Subtitle</h2>
            </div>
        </a>
    </div>

    Model.BlogList.RemoveAt(0);
}

<div class="gutter">&nbsp;</div>

<div class="section">

    <h1>Recent Blog Posts</h1>

    <ul class="grid two-up cf">

        @foreach (var blog in Model.BlogList)
        {
            <li class="cf">
                <div class="blog-card homepage">
                    @if (!String.IsNullOrEmpty(blog.ImagePath))
                    {
                        <div class="blog-list-header" style="background-image: url('@blog.ImagePath');"><a href="@blog.URL" title="@blog.Title" style="display: block; height:100%;">&nbsp</a></div>
                    }
                    else
                    {
                        <div class="blog-list-header" style="background-image: url('/Content/Images/default_blog_bg.jpg');"><a href="@blog.URL" title="@blog.Title" style="display: block; height:100%;">&nbsp</a></div>
                    }

                    <div class="blog-list-intro">
                        <h3><a href="@blog.URL">@blog.Title</a></h3>
                        <div class="subtitle">@blog.Subtitle</div>
                        <div class="date">@blog.PublishDate.ToString("MMMM dd, yyyy")</div>
                    </div>
                </div>
            </li>
        }

    </ul>

    <div style="text-align: center;">
        <a href="/Blog" class="btn" style="padding: 1.5em 4em; font-weight: bold;">See All Blog Posts</a>
    </div>

</div>
