@model SparkServer.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sitecore Spark";
}

<!--
<div class="section welcome-banner">

    <h1>Practical Sitecore by Example</h1>
    <h2>Succinct articles. Core concepts. Sitecore simplified.</h2>

</div>
-->

@if (Model.BlogList.Count > 0)
{
    string styleAttribute = string.Empty;

    <div class="section">
        @if (!String.IsNullOrEmpty(Model.BlogList[0].ImagePath))
        {
            styleAttribute = string.Format("background-image: url('{0}'); background-size: cover;", Model.BlogList[0].ImagePath);
        }
        else
        {
            styleAttribute = "background-image: url('/Content/Images/default_blog_bg.jpg'); background-size: cover;";
        }
        <a href="@Model.BlogList[0].URL" style="display: block;">
            <div class="section welcome-banner" style="@styleAttribute">
                <div class="header">Latest Blog Post</div>
                <h1>@Model.BlogList[0].Title</h1>
                <h2>@Model.BlogList[0].Subtitle</h2>
            </div>
        </a>
    </div>

    Model.BlogList.RemoveAt(0);
}

<div class="gutter">&nbsp;</div>

<div class="section">

    <h1>Recent Blog Posts</h1>

    <ul class="grid two-up cf">

        @foreach (var blog in Model.BlogList)
        {
            <li class="cf">
                <div class="blog-card homepage">
                    @if (!String.IsNullOrEmpty(blog.ImagePath))
                    {
                        <div class="blog-list-header" style="background-image: url('@blog.ImagePath'); height: 200px;"></div>
                    }
                    else
                    {
                        <div class="blog-list-header" style="background-image: url('/Content/Images/default_blog_bg.jpg'); height: 200px;"></div>
                    }

                    <div class="blog-list-intro">
                        <h3><a href="@blog.URL">@blog.Title</a></h3>
                        <div class="subtitle">@blog.Subtitle</div>
                        <div class="date">@blog.PublishDate.ToString("dd MMM yyyy") - <span style="font-style: italic;">@blog.AuthorFullName</span></div>
                    </div>
                </div>
            </li>
        }

    </ul>

</div>

<div class="section">

    <h1>Start With a Spark</h1>

    <h2>Blog</h2>
    <p><a href="/blog">Check out the blog</a> for tips, news, insights, and the latest updates on Sitecore Spark.</p>

    <h2>Articles</h2>
    <p>Sitecore Spark aims to teach Sitecore concepts through short articles and practical examples.</p>
    <p>Some articles extend the official Sitecore documentation. Others cover real-world examples of how to implement Sitecore features. All articles cover the basics of Sitecore - great for developers new to the platform.</p>

    <h2>Sitecore Resources</h2>
    <p>A one-stop resource for information and links to all-things Sitecore. From official Sitecore documentation to information on the most-popular community resources. <a href="https://www.youtube.com/channel/UCrv7Ux-1OIM31ZMaIrp2Nog" target="_blank">The Sitecore Spark YouTube Channel</a> is also available, focusing on short videos (60-90 seconds) that demonstrate core Sitecore features in action.</p>

</div>