@model SparkServer.ViewModels.BaseViewModel

<!DOCTYPE html>

<html lang="en-us">
    <head>
        <title>@ViewBag.Title - Sitecore Spark</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Sitecore 101 for .NET Developers">
        <meta name="author" content="Brandon Bruno">

        <!--[if lt IE 9]>
            @Scripts.Render("~/bundles/html5shiv")
        <![endif]-->

        @Styles.Render("~/Content/css")

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <!--[if lt IE 9]>
            @Styles.Render("~/Content/ie")
        <![endif]-->
    </head>

    <body>

        <div class="content">

            <header>
                <img src="~/Content/Images/logo_title_alt.png" alt="Sitecore Spark Logo" class="logo" />
                <a class="mobile-menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i> Menu</a>
            </header>

            <nav>
                <ul class="cf">
                    <li><a href="/" @if (Model.MenuSelection == SparkServer.Application.Enum.MainMenu.Home) { @Html.Raw("class='active'") } >Home</a></li>
                    <li><a href="/category" @if (Model.MenuSelection == SparkServer.Application.Enum.MainMenu.Category || Model.MenuSelection == SparkServer.Application.Enum.MainMenu.Article) { @Html.Raw("class='active'") }>Articles</a></li>
                    <li><a class="disabled" href="#" @if (Model.MenuSelection == SparkServer.Application.Enum.MainMenu.Videos) { @Html.Raw("class='active'") }>Videos</a></li>
                    <li><a href="/about" @if (Model.MenuSelection == SparkServer.Application.Enum.MainMenu.About) { @Html.Raw("class='active'") }>About</a></li>
                    <li><a href="/blog" @if (Model.MenuSelection == SparkServer.Application.Enum.MainMenu.Blog) { @Html.Raw("class='active'") }>Blog</a></li>
                </ul>
            </nav>

            <div class="container cf">

                @RenderBody()

            </div>

        </div>

        <footer class="page">
            <div class="content">
                <ul class="grid two-up cf" style="margin-bottom: 0;">
                    <li>
                        <p><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://www.twitter.com/sitecorespark" target="_blank">@@SitecoreSpark</a></p>
                        <p><i class="fa fa-slack" aria-hidden="true"></i> @@brandon.bruno</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:bmbruno+sitecorespark@gmail.com">bmbruno+sitecorespark@gmail.com</a></p>
                    </li>
                    <li>
                        <p>&copy; @DateTime.Today.Year.ToString() Sitecore Spark. All rights reserved.</p>
                        <p>Not affiliated with <a href="http://www.sitecore.net">Sitecore Corporation A/S</a>. Sitecore&reg; and Own the Experience&reg; are registered U.S. trademarks.</p>
                    </li>
                </ul>
            </div>

        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/scripts")

        @RenderSection("PageScripts", required: false)

        <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-82475706-1', 'auto');
			ga('send', 'pageview');
        </script>

    </body>
</html>