<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - Sitecore Spark</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/html5shiv")
    <![endif]-->

    @Styles.Render("~/Content/css")

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!--[if lt IE 9]>
        @Styles.Render("~/Content/ie")
    <![endif]-->
</head>

<body>

    <div class="content">

        <header>
            <a class="mobile-menu-toggle">Menu</a>
            <img src="~/Content/Images/logo_title_alt.png" alt="Sitecore Spark Logo" class="logo" />
        </header>

        <nav>
            <ul class="cf">
                <li><a href="#">Home</a></li>
                <li><a href="#" class="active">Categories</a></li>
                <li><a href="#">Mentoring</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>

        <div class="container cf">

            @RenderBody()

        </div>

        <footer class="page">
            <p>Copyright @DateTime.Today.Year.ToString() Sitecore Spark</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")

    @RenderSection("PageScripts", required: false)

</body>
</html>